extends common/layout.pug


block content
  .sect-div How Dreamshare works?
  .sect-dream
    .dream-pic
      a.step-link(href='#') Step 1
      p.dream-desc1 Sed leo enim, condimentum
      p.dream-desc2
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
        | leo sit amet facilisis.
    .dream-pic2
      a.step-link(href='#') Step 2
      p.dream-desc1 Morbi velit risus
      p.dream-desc2
        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
        | porttitor est.
    .dream-pic3
      a.step-link(href='#') Step 3
      p.dream-desc1 Sed leo enim, condimentum
      p.dream-desc2
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a
        | leo sit amet facilisis.
  .meet-item Meet a partner for your best holiday
  .all-users
    .users-bloks1
      .bradley
      .marie
    .users-bloks2
      .diana
      .chris
  .see-item See other partners
  .name-activity Discover holiday activity ideas
  .pic-blok1
    .main-pic1
      .pic-text1 Sports and Activis
    .main-pic2
      .pic-text1  Wellness and Health
    .main-pic3
      .pic-text1
        | Extreme Sports
        | and Expeditions
  .pic-blok2
    .main-pic4
      .pic-text1 Games
    .main-pic5
      .pic-text1 Culture and Education
  .pic-blok3
    .main-pic6
      .pic-text1 Enjomet and Relaxation
    .main-pic7
      .pic-text1 Trevelling
  .last-main-text Create your holiday activity
  .text-item Hi! What are your holiday interests?
  .search-item
    input.main-input(placeholder='Enter your insterests', type='text')
    button.find-butt Search partners
