footer.footer
  .foot-item1
    .foot-img1
  .foot-item2
    p.toot-text Company
    .foot-item-links
      a.foot-link(href='#') Abot
      a.foot-link(href='#') Contact
      a.foot-link(href='#') Press
      a.foot-link(href='#') Blog
      a#terms.foot-link(href='#') Terms and Privacy
      a.foot-link(href='#') Help
  .foot-item3
    p#tex-toot.toot-text Partners
  .foot-item4
    .foot-img2
