header.header
  .log-section
   .logo
   .sign
      a.link-sign(href='#') Log In
      button.butt-sign Sign In 
  h1.main-head-text
    | SHARE YOUR 
    br
    | HOLIDAY DREAM
  p.head-descr And find the pefect partner to fulfill it
  a.head-find-link(href='#') Find your holiday partner