doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/build/css/main.css')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Kanit:ital@1&family=Montserrat:wght@400;700&family=Raleway&family=Roboto+Slab:wght@200;300;400;500;800;900&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Kanit:ital@1&family=Montserrat:wght@400;700&family=Raleway&family=Roboto+Slab:wght@200;300;400;500;800;900&family=Roboto:wght@300&display=swap', rel='stylesheet')
  title Document


<body>
block header 
include header 
block content
block footer 
include footer

    
</body>

</html>





